<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="isSilentMode" value="true"/> <!-- true / false -->
    <add key="tab1SetFilePath" value=""/>
    <add key="tab1FileNameType" value=""/>
    <add key="tab2FileNameType" value=""/>
    <add key="tab1FileName" value=""/>
    <add key="tab2FileName" value=""/>
    <add key="tab2GetFilePath" value=""/>
    <add key="tab2SetFilePath" value=""/>
    <add key="tab3GetFilePath" value=""/>
    <add key="tab3FaildFilePath" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>